* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: blue;
}

hr {
  background-color: black;
}

ul {
  list-style-type: none;
}

.row-50 {
  width: 45%;
  line-height: 33px;
}

.b1 {
  border: 1px solid black;
}

#login, .gethubspotfree {
  margin-left: 40px;
}

.fa-search {
  margin-top: 5px;
}

.fa-check {
  padding: 4px;
  text-align: center;
  margin-top: 6px;
  background-color: #FF7A59;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  vertical-align: middle;
}

#login {
  color: #FF7A59;
  border: 2px solid #FF7A59;
  border-radius: 3px;
  padding: 5px;
}

.gethubspotfree {
  color: white;
  background-color: #FF7A59;
  border-radius: 3px;
  padding: 7px;
}

.orange-button-big {
  color: white;
  background-color: #FF7A59;
  border-radius: 3px;
  width: 200px;
  height: 70px;
  padding: 7px;
  text-align: center;
  position: relative;
  margin: 40px 0;
}

.centered-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.f-left {
  float: left;
}

.inline-block {
  display: inline-block;
}

.f-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.firstpage-container,
.secondpage-container,
.thirdpage-container,
.fourthpage-container,
.footer-container,
.header-container {
  width: 80%;
  margin: auto;
}

header .white {
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
}

header .header-container {
  position: relative;
}

header .header-container.clearfix .row-50 {
  margin-bottom: 30px;
}

header {
  background-color: #F5F8FA;
}

header .header-container .row-50 {
  display: inline-block;
}

header .hr {
  border-left: 1px solid #000;
  height: 15px;
  margin-left: 50px;
}

header .header-container .box {
  margin-right: 50px;
  margin-left: 10px;
  padding-top: 5%;
}

header img {
  height: 60px;
  vertical-align: middle;
}

header nav .f-right {
  margin-left: 40px;
  position: relative;
  top: 15px;
}

nav {
  width: 100%;
}

main .firstpage-background {
  background-color: #FEF4EE;
  background-image: url("../img/hero.svg");
  background-size: cover;

}

main .firstpage-container {
  /* background-image: url("../img/hero.svg"); */
  /* background-size: cover; */
  height: 800px;
  padding-top: 40px;
}

main .firstpage-container .textbox {
  width: 550px;
}

main .firstpage-container .textbox h1 {
  font-size: 55px;
}

main .firstpage-container .textbox p {
  font-size: 23px;
}

main .firstpage-container .textbox p:last-child {
  font-size: 15px;
}

main .firstpage-contaier .textbox {
  background-color: white;
  margin-top: 100px;
  margin-left: 300px;
}

main .mrow1 {
  background-color: #AFEBE4;
  height: 60px;
  border: 1px solid black;
}

main .secondpage-container {
  width: 80%;

}

main .second-background {
  border-top: 4px solid black;
  background-color: #F5F8FA;
  width: 100%;
}

main .secondpage-container .firstrow {
  text-align: center;
}

main .secondpage-container .firstrow img {
  height: 200px;
  margin-bottom: 10px;
}

main .secondpage-container .firstrow p {
  width: 60%;
  position: relative;
  left: 50%;
  margin-top: 50px;
  font-size: 19px;
  transform: translate(-50%, 0);
}

main .secondpage-container .firstbox {
  background-color: white;
  margin-top: 50px;
}

main .slice-70 {
  width: 60%;
  position: relative;
}

main .slice-30 {
  height: 500px;
  width: 30%;
  position: relative;
}

main .slice-30 img {
  height: 250px;
}

main .slice-30 .orange-button-big {
  position: relative;
  left: 10%;
  bottom: 10%;
  text-align: center;
  line-height: 50px;
}

main .slice-70 .text-container {
  margin-top: 100px;
  line-height: 50px;
}

main .slice-70 .text-container h2,
main .slice-70 .text-container hr {
  display: inline-block;
}

main .slice-70 .text-container hr {
  width: 50%;
  background-color: black;
  margin-left: 100px;
}

main .slice-70 .popolar-feature span {
  margin-right: 30px;
  margin-left: 10px;
}

main .slice-70 .popolar-feature {
  margin-top: 30px;
}

main .secondpage-container .secondbox {
  background-color: white;
  padding: 55px;
  margin: 4%;
  text-align: center;
  margin-top: 20px;
  height: 800px;
  width: 25%;
  line-height: 40px;
  position: relative;
}

main .secondpage-container .secondbox img {
  height: 150px;
}

main .secondbox hr {
  margin-bottom: 40px;
  margin-top: 40px;
}

main .secondbox .orange-button-big {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

main .secondbox .fa-check {
  margin-right: 30px;
  margin-top: 5px;
}

main .secondbox .popolar-feature {
  text-align: left;
  position: relative;
  left: 50px;
}

main .thirdpage-container-background {
  background-color: #01AAB8;
  color: white;
}

main .thirdpage-container {
  padding: 75px 0 150px 0;
}

main .thirdpage-container .firstbox {
  text-align: center;
}

main .thirdpage-container .firstbox h1 {
  font-size: 50px;
  padding-left: 50px;
  margin-bottom: 30px;
}

main .thirdpage-container .firstbox p {
  margin-left: 50px;
  font-size: 20px;
  margin-bottom: 100px;
}

main .thirdpage-container .floatbox {
  width: 25%;
  height: 250px;
  text-align: center;
  padding: 20px 0;
  color: white;
}

.br-white-border {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.b-white-border {
  border-bottom: 1px solid white;
}

.r-white-border {
  border-right: 1px solid white;
}

main .thirdpage-container .floatbox img {
  height: 30%;
  margin-bottom: 20px;
}

main .thirdpage-container .floatbox h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

main .fourthpage-container {
  position: relative;
  height: 1000px;
}

main .fourthpage-container .firstbox {
  height: 250px;
  width: 200px;
  position: absolute;
  line-height: 35px;
  top: 50px;
  left: 80px;
}

main .fourthpage-container .firstbox h1 {
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 10px;
}

main .fourthpage-container .secondbox {
  width: 1000px;
  height: 200px;
  position: absolute;
  top: 50px;
  right: 0;
}

main .fourthpage-container .secondbox img {
  height: 80px;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

main .fourthpage-container .immagine-persona {
  position: absolute;
  display: inline-block;
  bottom: 100px;
  height: 400px;
  right: 200px;
}

main .fourthpage-container .thirdbox {
  width: 450px;
  height: 350px;
  position: absolute;
  bottom: 150px;
  left: 0;
  line-height: 40px;
}

main .fourthpage-container .thirdbox h1,
main .fourthpage-container .thirdbox p {
  margin-bottom: 30px;
}

main .fourthpage-container .thirdbox p:last-child {
  font-size: 15px;
  margin-bottom: 30px;
}

footer {
  background-color: #2D3E50;
  color: white;
  position: relative;
  padding-bottom: 50px;
}

footer .floatbox.f-left {
  margin-top: 50px;
  margin-left: calc(100% / 3 - 30%);
  width: 20%;
  height: 400px;
  line-height: 40px;
}

#contacthubspot {
  margin-top: 5px;
  text-align: center;
  height: 40px;
  width: 60%;
  background-color: #cecece;
  color: darkblue;
  border-radius: 5px;
  margin-bottom: 5px;
}

footer .icons i {
  margin-right: 25px;
}

footer .language-box {
  text-align: center;
  height: 50px;
  width: calc(100% - 600px);
  margin-left: 50%;
  margin-top: 10px;
  transform: translate(-50%);
}

footer .language-box span {
  margin-right: 50px;
}

footer hr {
  bottom: 140px;
  border-color: white;
  background-color: white;
}

footer .legal-box {
  margin-top: 30px;
  position: relative;
}

footer .legal-box p {
  margin-top: 10px;
}

footer .legal-box a {
  margin-right: 40px;
  float: right;
}
