* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
}

/* classi da rimuovere successivamente */
.h100 {
  height: 60px;
}

.h700 {
  height: 700px;
}

.h400w400 {
  height: 400px;
  width: 400px;
}

.b1 {
  border: 1px solid black;
}

/* fine classi da rimuovere  */
.f-left {
  float: left;
}

header .header-row1 {
  background-color: #AFEBE4;
}

header .header-row2 {
  background-color: white;
}

main .mrow1 {
  background-color: #AFEBE4;
}

.firstpage-container,
.secondpage-container,
.thirdpage-container,
.fourthpage-container,
.footer-container {
  width: 80%;
  padding-top: 3%;
  padding-bottom: 2%;
  margin: auto;
}

main .firstpage-background {
  width: 100%;
  height: 700px;
  background-color: #FFF2EF;
}

main .firstpage-container .textbox {
  margin-top: 10%;
  margin-left: 10%;
}

main .secondpage-container {
  width: 80%;

}

main .secondpage-container::after {
  content: "";
  display: table;
  clear: both;
}

main .firstpage-contaier .textbox {
  background-color: white;
  margin-top: 100px;
  margin-left: 300px;
}

main .secondpage-container .firstrow {
  text-align: center;
  height: 300px;
  background-color: lightblue;
}

main .secondpage-container .firstbox {
  background-color: white;
  height: 250px;
  width: 100%;
  margin-top: 50px;
}

main .secondpage-container .secondbox {
  margin-left: 4%;
  margin-right: 4%;
  background-color: red;
  height: 600px;
  width: 25%
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

main .thirdpage-container-background {
  background-color: #01AAB8;
}

main .thirdpage-container .firstbox {
  color: white;
  text-align: center;
}

main .fourthpage-container-background {
  background-color: grey;

}

main .fourthpage-container .firstbox {
  height: 200px;
  width: 250px;
  margin-left: 50px;
  background-color: white;
  display: inline-block;
}

main .fourthpage-container .secondbox {
  width: 650px;
  height: 200px;
  margin-left: 50px;
  background-color: white;
  display: inline-block;
  margin-left: 500px;
}

main .fourthpage-container .thirdbox {
  width: 450px;
  height: 350px;
  background-color: white;
  margin: 50px 50px;
}

footer {
  background-color: #2D3E50;
  height: 700px;
  color: white;
  position: relative;
}

footer .floatbox.f-left {
  margin-left: calc(100% / 3 - 30%);
  width: 20%;
  height: 300px;
}

footer .language-box {
  height: 50px;
  width: calc(100% - 600px);
  background-color: red;
  margin-left: 50%;
  margin-top: 150px;
  transform: translate(-50%);
}

footer hr {
  bottom: 140px;
  border-color: white;
  background-color: white;
  height: 3px;
}

footer .legal-box {
  margin-top: 10px;
  height: 100px;
}
